*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.ScaleImg{
    max-width: 100%;
    height: auto;
    margin: auto;
}

.PaintHeader{
    display: flex;
    justify-content: left;
    background-color: #14A76C;
    height: 50px;
}

.LogoHolder{
    height: 80%;
    padding: 10% 0;
}

.LogoHeaderImg{
    width: auto;
    height: 100%;
    margin: auto;
}

.LogoA{
    height: 100%;
}

.LogoHolder{
    padding: 0 20px;
}


.OptionsHolder{
    display: flex;
    justify-content: left;
    padding: 0 10px;
    
}

.OptionsDiv{
    padding-left: 30px;
    height:100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.HeaderText{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;
}

.MainBody{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    background-color: #272727;
    display: flex;
}

.ToolsDiv{
    display:inline-block;
    width:200px;
    height: 100%;
    background-color: #FF652F;
}

.PaintDiv{
    background-color: #272727;
    height: 100%;
    flex-grow: 1;
}

.ToolTitle{
    text-align: center;
    padding-top: 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;
}

.ToolSelector{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 75px);
    column-gap: 20px;
    
    row-gap: 20px;

    justify-content: center;
}

.Tool{
    width: 100%;
    height: 100%;
}

.ToolOption{
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    color:white;
}

.ColorPickerToolDiv{
    grid-column: 1/3;
    grid-row:3/ 6;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 10px;
    margin-left: 10%;
    width: 80%; 
    height: 20px;
    background: #d3d3d3;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1; 
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px; 
    background: #FFE400; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px; 
    background: #FFE400; 
    cursor: pointer;
  }

  .PaintToolOptions{
      display: none;
  }

.ColorPickerHolder{
    margin-top: 20px;
    width: 80%;
    margin-left:10%;
}

  #ColorPicker{
      height: 100px;
      width: 100%;
      border: 5px solid #272727;

      
  }

  #Color{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 5px solid #272727;
  }