*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Hide{
    display: none;    
}

.ScaleImg{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.PaintHeader{
    display: flex;
    justify-content: left;
    background-color: #14A76C;
    height: 50px;
}

.LogoHolder{
    height: 80%;
    padding: 10% 0;
}

.LogoHeaderImg{
    width: auto;
    height: 100%;
    margin: auto;
}

.LogoA{
    height: 100%;
}

.LogoHolder{
    padding: 0 20px;
}


.OptionsHolder{
    display: flex;
    justify-content: left;
    padding: 0 10px;
    
}

.OptionsDiv{
    padding-left: 30px;
    height:100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.HeaderText{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;

    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
    outline:none;
    height: 100%;
}

.MainBody{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    background-color: #272727;
    display: flex;
    justify-content: left;
}

.ToolsDiv{
    display:inline-block;
    width:200px;
    height: 100%;
    background-color: #FF652F;
}

#PaintDiv{
    background-color: #272727;
    height: 100%;
    flex-grow: 1;
    position:relative;
}



.ToolTitle{
    text-align: center;
    padding-top: 15px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75rem;
}

.ToolSelector{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50px);
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
}

.Tool{
    width: 100%;
    height: 100%;
    display: block;
    
    border: none;
    outline: none;
}

.ToolNotSelected{
    background-color: rgba(0,0,0,0);
}

.ToolSelected{
    background-color: rgba(255,228,0,0.5);
}

.ToolOption{
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    color:white;
}

.ColorPickerToolDiv{
    grid-column: 1/3;
    grid-row:3/ 6;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 10px;
    margin-left: 10%;
    width: 80%; 
    height: 10px;
    background: #d3d3d3;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1; 
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 10px; 
    background: #FFE400; 
    cursor: pointer; 
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 10px; 
    background: #FFE400; 
    cursor: pointer;
}

#PaintToolOptions{
    display: none;
}
#EraserToolOptions{
    display: none;
}

.ColorPickerHolder{
    margin-top: 20px;
    width: 80%;
    margin-left:10%;
}

#ColorPicker{
    height: 30px;
    width: 100%;
}

#color{
    width: 70%;
    margin: 0 15%;
}



#NewProjWindow{
    top:50%;
    left: 50%;
    transform: translate(-170px, -90px);
    position:absolute;
    width: 400px;

    background-color: #FF652F;
    border: 10px solid black;
}

.NewProjOpen{
    display: block;
}

.NewProjClose{
    display: none;
}

.NewProjTitle{
    padding-top: 20px;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
}

#NewProjCloseBtn{
    text-decoration: none;
    color: red;

    position: absolute;
    top:  5px;
    right: 5px;
    width: 50px;
    height: 50px;

    text-align: right;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4rem;

    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
    outline: none;
}

.NewProjTextHolder{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.NewProjLabels,.NewProjInputs{
    line-height: 2.7rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

.NewProjLabels{
    padding-top: 2px;
    padding-right: 15px;
}

.NewProjInputs > input{
    width: 100px;
    background-color: #c4c4c4;
    color: white;
    
}

#ProjAcceptBtn{
    display: block;
    margin: 20px auto;
    width: 120px;
    height: 40px;
    background-color: #FFE400;
}

#NewProjErrorMsg{
    display: block;
    text-align: center;
    color: yellow;
    text-decoration: underline;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    padding-bottom: 10px;
}